/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    background: $background-color;
	  font: $base-font-size $base-font-family;
    line-height: $base-line-height;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/*
 * Emphasis
 */

em {
    color: #D7F9DD;
}

strong {
    color: #F1B66A;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
    list-style-type: square;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1 {
  	font-size: 55px;
  	position: fixed;
  	bottom: 0;
  	left: 9px;

    @media only screen {
        @include transform(65px, -5px, -90deg);
        @include transform-origin(0% 100%);

        @media (max-width:700px) {
        		font-size: 25px;

            @include transform(35px, -5px, -90deg);
      	}

        @media (max-width:540px) {
            position: relative;
            @include transform-none;

            font-size: 40px;
            margin: 5px 0 15px 0;
        }
    }
}

h1, h1 a:link, h1 a:visited, h1 a:hover {
  	color: #8C96A2;
  	text-decoration: none;
}

h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $link-color;
    }

    &:hover {
	       color: #B5CEE2;
	    text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
code, pre {
	border-radius: 5px;
	border: 1px solid #0B0D0F;
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
	background: #1E2329;
}

code {
    color: white;
    padding: 0 2px;
}

pre {
	overflow: auto;
	width: 100%;
	height: auto;
	padding: 5px;
	margin: 6px 0;
    font-size: 0.9em;
    line-height: 1.2em;
    font-size: 17px;
    color: #B9BDB6;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit}));
    max-width:         calc(800px - (#{$spacing-unit}));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
