/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    font-size: 1.2em;
    line-height: 1.3em;

    @media only screen {
        margin: 10px 10px 10px 100px;

        @media (max-width:700px) {
          margin: 5px 5px 5px 40px;
        }

        @media (max-width:540px) {
          margin: 5px;
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    margin: 0 8px 0 0;
  	color: #8C96A2;
  	padding: 5px 0 0 0;
  	font-style: italic;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-separator {
    text-align: center;
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    color: #888;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }

    a {
        font-size: inherit;

        &, &:hover, &:visited {
            text-decoration: none;
        }
    }

    &, a {
        color: rgb(255, 211, 97);
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2, h3, h4 {
      margin-top: 25px;
      margin-bottom: 10px;
      color: #666;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
