$scroll-background: #1e2225;
$scroll-thumb: #121415;

::-webkit-scrollbar {
    width: 16px;
    height: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: $scroll-thumb;
	border-radius: 4px;
}

::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {
    background-color: $scroll-background;
}

html {
    scrollbar-color: dark;
    scrollbar-color: $scroll-thumb $scroll-background;
}